
<h3 style="margin-left: 50px; padding-top:100px; text-align: center;">Give your list a name</h3>
<br>
<br>
<%= render 'form' %>
<br>
<div style="margin-left: 47%;"><%= link_to 'Back', lists_path, class: 'btn btn-secondary text-uppercase', style: ''%></div>
