
<h3 style="text-align:center; padding-top:100px;" class="section-heading text-uppercase">Give your list a name</h3>
<br>
<br>
<%= render 'form' %>
<br>
<div style="margin-left: 47%;"><%= link_to 'Back', lists_path, class: 'btn btn-secondary text-uppercase', style: ''%></div>
