<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your shopping list is ready!</h1>
    <p>
      You can find a copy of your shopping list in the attachment<br/>
    </p>
    <p>
      To login to the site, just follow this link: https://seniorprojecttrial.herokuapp.com/.
    </p>
    <p>Thanks for using Prep n Go!</p>
  </body>
</html>