<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="text-align:center; border: 5px black solid; background-color: #ffffe6; border-radius: 20px;">
    <h1>Your shopping list is ready!</h1>
    <p>
      You can find a copy of your shopping list in the attachment.<br/>
    </p>
    <p>
     Your list has been generated using our state of the art opimital routing. 
     <br>
     Follow this order in the store to save your valuable time.
    </p>
    <p>Thanks for using Prep n Go!</p>
    </div>
  </body>
</html>