<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Prep 'n' Go</h1>
    <p>
      You have added <%= @inList %> to the list<br/>
    </p>
    <p>
      To login to the site, just follow this link: https://seniorprojecttrial.herokuapp.com/.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>