<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Prep 'n' Go, <%= @user.firstname %></h1>
    <p>
      You have successfully signed up to Prep 'n' Go,
      your username is: <%= @user.email %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: https://seniorprojecttrial.herokuapp.com/.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>