<h1 style="text-align: center;">Welcome to OneStopShop</h1>
<p style="text-align: center;">a better shopping experience</p>


<img src="http://anmblog.typepad.com/.a/6a00d8341c565553ef019affd9bd23970b-pi" height = "1000" width= "1200" style="padding-left: 85px;">
