<h3 style="margin-left:50px; padding-top:50px; padding-bottom:25px;">New Recipe</h3>

<%= render 'form', recipe: @recipe %>

<%= link_to 'Back', recipes_path, class: 'btn btn-primary text-uppercase', style: 'margin-top:20px; margin-left:50px;' %>
<%= render 'layouts/footer' %>