<h1>Editing List Product Product Recipe</h1>

<%= render 'form', list_product_product_recipe: @list_product_product_recipe %>

<%= link_to 'Show', @list_product_product_recipe %> |
<%= link_to 'Back', list_product_product_recipes_path %>
<%= render 'layouts/footer' %>