
<br>
<h3 style="margin-left: 50px; padding-top: 100px; padding-bottom: 25px;">Create an account</h3>

<%= render 'form' %>

<p style="margin-left: 50px;"><%= link_to 'Back', users_path, class: 'btn btn-primary text-uppercase' %></p>
<%= render 'layouts/footer' %>