<h1>Pages home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<<<<<<< HEAD
<p>We just want to try something. Osama was here</p>
=======
<p>We just want to try something</p>
<p>Trying from reem</p>
>>>>>>> 4ecfd2f4d66db8a2fed6d93c984ca1e1354d50e6
