<h1>New Branch Product</h1>

<%= render 'form', branch_product: @branch_product %>

<%= link_to 'Back', branch_products_path, class: 'btn btn-primary text-uppercase' %>
<%= render 'layouts/footer' %>
