<h3 style="text-align:center; padding-top:100px;" class="section-heading text-uppercase">Add New Product</h3>

<%= render 'form', product: @product %>
<br>
<div style="margin-left: 47%;"><%= link_to 'Back', products_path, class: 'btn btn-secondary text-uppercase', style: ''%></div>
