<h1>Map#index</h1>
<p>Find me in app/views/map/index.html.erb</p>
<div id='map' style='width: 400px; height: 300px;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoia2FyZW55MTk5NiIsImEiOiJjamE1bDlrN3Ixam56MzJsZjE4ZHNsMmVnIn0.5xvreXFZ_DuEafJD0cBzKQ';
var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/streets-v9', // stylesheet location
    center: [51, 25], // starting position [lng, lat]
    zoom: 7 // starting zoom
});

map.on('load', function () {

    map.addLayer({
        "id": "points",
        "type": "symbol",
        "source": {
            "type": "geojson",
            "data": {
                "type": "FeatureCollection",
                "features": [{
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [51.03238901390978, 24.913188059745586]
                    },
                    "properties": {
                        "title": "Karen",
                        "icon": "monument"
                    }
                },
                <% BranchProduct.all.each do |item| %>
                {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [<%= item.latitude %>,<%= item.longitude %>]
                    },
                    "properties": {
                        "title": "<%= Product.find(item.product_id).name %>",
                        "icon": "harbor"
                    }
                },
                <% end %>
                {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [51.414, 24.776]
                    },
                    "properties": {
                        "title": "Noor",
                        "icon": "harbor"
                    }
                }]
            }
        },
        "layout": {
            "icon-image": "{icon}-15",
            "text-field": "{title}",
            "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
            "text-offset": [0, 0.6],
            "text-anchor": "top"
        }
    });
});
</script>